body{
    background-color: rgb(115, 69, 153);
}


input{
    background-color: #0a0a0a; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;   
    border: 2px solid #351e69;
    border-radius: 5px;
}

form{
    text-align: center;
    margin-top: 200px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}

button{
  
}